@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model IEnumerable<ClienteModel> 
}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>Clientes</h1>
            @{
                var mensagem = (String)@TempData["mensagemSucesso"];
                if (( ! String.IsNullOrEmpty(mensagem)))
                    {
                        <div class="alert alert-warning" role="alert">
                        <h4>@mensagem</h4>
                        </div>
                    }
                
            }
            
            @if(@Model.Count() > 0){
            <table class="table table-striped" border="1" cellspacing="0" cellpadding="0">
                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="name">Nome</th>
                        <th class="actions" width="220">Ações</th>
                    </tr>
                </thead>
                <tbody>
                
                    @foreach (var item in @Model)
                     {
                            <tr>
                                <td>@item.ClienteId</td>
                                <td>@item.Nome</td>
                                <td>
                                    <a class="btn btn-dark btn-sm" asp-controller="Cliente" asp-action="Detalhe" asp-route-id="@item.ClienteId" >Detalhes</a>
                                    <a class="btn btn-warning btn-sm" asp-controller="Cliente" asp-action="Editar" asp-route-id="@item.ClienteId">Editar</a>
                                    <a class="btn btn-danger btn-sm" asp-controller="Cliente" asp-action="Excluir" asp-route-id="@item.ClienteId">Excluir</a>
                                </td>
                            </tr>
                     }
                </tbody>
            </table>
            }
            else{
                <div class="alert alert-warning" role="alert">
                     <h2>Sem clientes cadastrados.</h2>
                </div>
            }
            <p class="toolbar">
                <a class="create btn btn-primary" asp-controller="Cliente" asp-action="Cadastrar">Novo Cliente</a>
            </p>
        </div>
    </div>
</div>

